.popup__error {
    display: block;
    font-weight: 400;
    font-size: 12px;
    max-width: 358px;
    /* min-height: 46px; */
    opacity: 0;
    color: red;
}

.popup__error_visible {
    opacity: 1;
}