.element__like {
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-color: white;
    width: 22px;
    height: 19px;
    border: none;
    margin: 0 20px 0 8px;
    padding: 0;
    align-self: center;
}