.popup__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: black;
    border: none;
    width: 100%;
    max-width: 358px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto 25px;
    /* height: 27px; */
    box-sizing: border-box;
    /* padding: 0 0 8px; */
} 

 @media screen and (max-width:720px) {
    .popup__input {
        margin-bottom: 20px;
    }
}