.popup__container {
    width: 100%;
    max-width: 430px;
    background: #fff;
    border-radius: 10px;
    padding: 34px 36px 37px;
    position: fixed;
    align-self: center;
    box-sizing: border-box;
}

@media screen and (max-width:720px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 22px;
    }
}