.profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media screen and (max-width:480px) {
    .profile {
        flex-direction: column;
        margin-bottom: 36px;
        max-width: 282px;
        margin: 0 auto;
    }
}