.popup__close {
    width: 32px;
    height: 32px;
    background: transparent center url(../../../images/Close\ Icon.png);
    border: none;
    position: absolute;
    top: -39px;
    right: -40px;
}

@media screen and (max-width:450px) {
    .popup__close {
        background-image: url(../../../images/Close\ Icon.png);
        width: 20px;
        height: 20px;
        top: -36px;
        right: -3px;
    }
}