.profile__button {
    width: 100%;
    max-width: 150px;
    min-height: 50px;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    align-self: start;
    margin-top: 37px;
}

.profile__button:hover {
    opacity: .6;
}

@media screen and (max-width:720px) {
    .profile__button { 
        background-size: 16px 16px;
        max-width: calc(100vw - 30px * 2);
    }
}

@media screen and (max-width:320px) {
    .profile__button { 
        max-width: 282px;
        align-self: center;
        margin-top: 0;
        margin-bottom: 36px;
    }
}